{% extends "layout.html" %}
{% block meta_links %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/servers.css')}}"/>
{% endblock %}

{% block content %}
<h1 class="title">
  Amaner鯖一覧
</h1>

<section class="body">

  <h2 class="box">
    <section class="name">
      Vocalocafe
    </section>
    <br>
    <section class="description">
      本部です
      <br>
    </section>
  </h2>

  <!-- <h2 class="box">
    <section class="name">
      游|界隈ゲーム作成
    </section>
    <br>
    <section class="description">
      界隈のゲームを作る研究所
    </section>
  </h2>
  <h2 class="box">
    <section class="name">
      Amaner-Casino
    </section>
    <br>
    <section class="description">
      カジノ<br>
      ※15歳未満 立ち入り禁止
    </section>
  </h2> -->

  {% if server_list %}
    {% for server in server_list %}
    <h2 class="box">
      <section class="name">
        <a href="{{server["invitation"]}}">{{server["name"]}}</a>
      </section>
      <br>
      <section class="description">
        {{server["description"]}}
      </section>
    </h2>
    {% endfor %}
    <h2 class="box">
      <section class="name">
        現在登録されている派生鯖は{{ count }}つです。
      </section>
      <section class="description">
        派生鯖登録は、<b><a href="{{url_for('Reg')}}">こちら</a></b>
      </section>
    </h2>
  {% else %}
  <h2 class="box">
    <section class="name">
      現在、登録されている派生鯖はありません。
    </section>
    <section class="description">
      派生鯖登録は、<b><a href="{{url_for('Reg')}}">こちら</a></b>
    </section>
  </h2>
  {% endif %}


<!-- TODO:派生鯖を追加できる機構を実装  -->

  <!-- <h2 class="box">
  <section class="name">
  Ｑ.
</section>
<br>
<section class="description">
Ａ.
</section>
</h2> -->

</section>
{% endblock %}
